.resources {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 217px;
    margin-left: auto;
    margin-right: auto;
  }