.header__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left:64px;
    margin-top: 0;
    margin-bottom: 0;
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    z-index: 2;
  }